.qrlogin-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrlogin-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrlogin-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}